.off-canvas {
	$action-color: #477DCA !default;
	$dark-gray: #333 !default;
	$sliding-panel-border-color: $dark-gray;
	$sliding-panel-background: lighten($sliding-panel-border-color, 5%);
	$sliding-panel-color: #fff;
	$sliding-panel-border: 1px solid $sliding-panel-border-color;
	$sliding-panel-background-hover: $action-color;
	$sliding-panel-color-hover: #fff;
	$sliding-panel-background-focus: lighten($sliding-panel-background, 5%);


  @include position(fixed, 0 auto 0 0);
  @include size(220px, 100%);
  background: $sliding-panel-background;
  -webkit-overflow-scrolling: touch;
  overflow-y: auto;
  transform: translateX(-220px);
  transition: all 0.25s linear;
  z-index: 999999;
  padding: $base-spacing;

  @include elem('toggle') {
    @include position(fixed, $base-spacing $base-spacing null null);
    z-index: 999;
  }

  @include mod('visible') {
     transform: translateX(0);
  }

  ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    margin: 0;
  }

  li {
    list-style: none;
  }		
}